body {
	font: 400 1.5em 'Roboto Mono', monospace;
	max-width: 960px;

}
.headline {
	margin: 25px 15px 0;
	padding-bottom: 30px;
	text-align: center;
	font-size:2em;
	color: rgba(0, 0, 0, .7);
	border-bottom: 4px solid rgba(0, 0, 0, .7);
}

.inputArea {
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, .5);
	border-left: 1px solid rgba(0, 0, 0, .5);
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.form-border{
	border: 0;
}

.btn-right {
	margin-right: 25px;
}

.row-spacing {
	margin-top: 25px;
}

input {
	font-size: .5em;
	color: rgba(200, 0, 0, .3);

}
input[type="text"]::placeholder {
  color: rgba(100, 100, 100, .5);
}

button {
	padding: 10px;
	font-size: .5em;
	color: rgba(255, 255, 255, 1);
	background: rgb(0, 0, 255);
	border: 0;
}

.btn-style:hover {
	outline: none;
	background: rgb(0, 0, 175);
}

.btn-style:focus {
	outline: none;
	background: rgba(0, 0, 100, 1);
}

.glyphicon {
	font-size:.8em;
}

#submit-btn {
	padding: 7px;
	color: rgba(255, 255, 255, .7);
	background: rgb(0, 0, 175);
	border-radius: 0;
	border: 0;
}

#submit-btn:focus {
	outline: none;
	background: rgba(0, 0, 100, 1);
}


.gifImage {
		display: inline-block;
		margin-right: 15px
}

p {
	font-size: .6em;
	font-variant: small-caps;
	letter-spacing: 2px;
	color: rgba(100, 100, 100, .9);
	padding: 5px 0;
}


