body {
	font: 400 1.5em 'Roboto Mono', monospace;
}
.headline {
	margin: 25px 15px 0;
	padding-bottom: 20px;
	text-align: center;
	font-size:2em;
	border-bottom: 4px solid black;
}

.inputArea {
		margin: 25px 0;	
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

input {
	font-size: .5em;
	color: rgba(0, 0, 0, .3);
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, .5);
	border-left: 1px solid rgba(0, 0, 0, .5);
	width: 100%;
	padding: 10px;
}
input[type="text"]::placeholder {
  color: rgba(100, 100, 100, .5);
}

button {
	margin: 15px 15px 0 0;
	padding: 5px;
	font-size: .5em;
	color: rgba(255, 255, 255, .7);
	background: rgb(43, 61, 53);
	border: 0;
}

button:hover {
	outline: none;
	background: rgb(48, 58, 109)
}

input:focus,
button:focus {
	outline: none;
	background: rgba(100, 100, 100, .3);
}

.glyphicon {
		font-size:.8em;
}

#submit-btn {
	padding: 5px 15px;
	font-size: 1.2em;
	color: rgba(255, 255, 255, .3);
	background: rgb(83, 97, 163);
}

#gifContainer {
	margin-top: 25px;

}

.gifImage {
		display: inline-block;
		margin-right: 15px
}

p {
	font-size: .6em;
	font-variant: small-caps;
	letter-spacing: 2px;
	color: rgba(100, 100, 100, .9);
	padding: 5px 0;
}


